#container{
	top:0%;
	left:0%;
	height:100%;
	width:100%;
}
	#1{
	position:fixed;
	top:10%;
	left:10%;
	height:30%;
	width:30%;
}
#2{
	position:fixed;
	top:10%;
	left:70%;
	height:30%;
	width:30%;
}
#3{
	position:fixed;
	top:40%;
	left:40%;
	height:30%;
	width:30%;
}
#4{
	position:fixed;
	top:70%;
	left:10%;
	height:30%;
	width:30%;
}
#5{
	position:fixed;
	top:70%;
	left:70%;
	height:30%;
	width:30%;
}